*{
    margin : 0px;
    font-family: MonaLisa, Courier, monospace;
}
.profile{
    background-color : gray;
}

.header{
    height : 2rem;
    border-bottom : 2px solid grey;
}

.main{
    display : flex;
    height : calc(100vh - 10rem);
    align-items: center;
    justify-content: space-evenly;
}

.profile-img{
    height : 15rem;
    width: 15rem;
    border : 1px solid black;
    border-radius: 50%;
    /* margin-right: 20%; */
}

.details{
    text-align: center;
    /* width : 30%; */
}

/* .main>*{
    height : 80%;
    width : 30%;
} */

.profile-image-container{
    display: flex;
    align-items: center;
 
}
.bold-text{
    font-weight: bold;
}

.content{
    line-height : 1.5rem;
    font-size : 1.5rem;
}